@charset 'UTF-8';

html {
  font-family: sans-serif;
  touch-action: manipulation;
}
/* .container {
  padding: 15px;
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
  font-size: 16px;
} */
.title {
  font-size: 20px;
  margin: 10px 0 20px;
}
h1 {
  font-size: 30px;
  border-bottom: solid 3px black;
}

.btn-square:active {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  border-bottom: none;/*線を消す*/
}
.float {
  border: 1px solid #ddd;
  padding: 1%;
  margin: 0 0 2em;
  width: auto;
  overflow: hidden;
}

.float > div {
  background: #ddd;
  overflow: auto;
  padding: 1em;
  margin: 2% 2% 3%;
}

.float > div:last-child { margin: 2%; }

@media screen and (min-width: 660px){
  .float > div {
    width: 48%;
    margin: 1%;
    float: left;
  }

  .float > div:last-child { margin: 1%; }
}

@media screen and (min-width: 990px){
  .float > div {
    width: 31.333333%;
  }
}
.btn-square {
  /* display: inline-block; */
  display:block;
  width:auto;
  padding:10px 15px;
  /* padding: 0.5em 1em; */
  text-decoration: none;
  background: #668ad8;/*ボタン色*/
  color: #FFF;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
}
