@charset 'UTF-8';

html {
  font-family: sans-serif;
  touch-action: manipulation;
}
/* .container {
  padding: 15px;
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
  font-size: 16px;
} */
.title {
  font-size: 20px;
  margin: 10px 0 20px;
}
h1 {
  font-size: 30px;
  border-bottom: solid 3px black;
}


/* .cssgrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: 1fr;
  grid-gap: 0.8em;
  border: 1px solid #ddd;
  padding: 0.8em;
  margin: 0 0 2em;
}

.cssgrid > div {
  background: #ddd;
  overflow: auto;
  min-width: 0;
  padding: 1em;
} */
.btn-square {
  /* display: inline-block; */
  display:block;
  width:auto;
  padding:10px 15px;
  /* padding: 0.5em 1em; */
  text-decoration: none;
  background: #668ad8;/*ボタン色*/
  color: #FFF;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
}
.btn-square:active {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  border-bottom: none;/*線を消す*/
}
